form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #172b4d;
  color: white;
  margin-top: 20px;
}

label {
  display: inline-block;
  margin-top: 15px;
}

input:not([type="radio"]) {
  width: 480px;
  padding: 10px;
  border: 1px solid #172b4d;
  border-radius: 3px;
  font-size: 12px;
  background-color: #ffffff10;
  color: white;
}

[type="radio"] {
  margin-left: 20px;
  margin-top: 20px;
}

button {
  display: block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

button[disabled] {
  background-color: #ffffff70;
  cursor: not-allowed;
  font-size: 18px;
}

.error-message {
  color: rgb(240, 12, 12);
  font-size: 12px;
}
